# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=7ae9f855137542df4cb1b0e15f7d26f9ce7717a6bfd67f0ada9e92474c50f9ae9660be0b05d3f4190ecf9a232667093b3360c38d423751f4869d79bebae75f9b
REDIS_URL=redis://localhost:6379/14
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
